<!doctype html>
<html>
<head>
<title>Translate Result of {{ src_image }}</title>
</head>
<body>
<h1>{{ src_image }}</h1>
<h2>
<img src="static/{{ src_image }}">
{{ result }}
</h2>
<p align="center">
<h1>
<a href="/">첫화면으로</a>
</h1>
</p>
</body>
</html>